@media (min-width: 1441px) {
	header .navbar-brand img {
		width: 240px;
	}
}

@media (min-width: 992px) {
	.dropdown:hover > .dropdown-menu {
		display: block;
	}
	.dropdown > .dropdown-toggle:active {
		pointer-events: none;
	}
}

@media (max-width: 992px) {
	.container {
		padding: 40px 15px;
	}
	header .container {
		padding: 3px 15px;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 40px 10px;
	}
	header .container {
		padding: 3px 10px;
	}
	header .offcanvas .navbar-nav {
		gap: 0;
	}
	header .offcanvas .navbar-nav .nav-item .nav-link {
		border-radius: 5px;
	}
	header .offcanvas .navbar-nav .nav-item:last-child .nav-link {
		color: inherit;
		background: inherit;
		padding: 7px;
	}
	header .offcanvas .navbar-nav .nav-item .nav-link:hover {
		color: var(--textWhite);
		background: var(--gradient);
		-webkit-text-fill-color: inherit;
	}
	header .offcanvas .navbar-nav .nav-item.dropdown .nav-link:hover ~ i {
		color: var(--textWhite);
		-webkit-text-fill-color: inherit;
	}
	header .offcanvas .navbar-nav .nav-item.dropdown i {
		font-size: 1.4rem;
		background: var(--gradient);
		padding: 7px;
		top: 0;
		right: 0;
		cursor: pointer;
		border-radius: 5px;
	}
	header .offcanvas .navbar-nav .nav-item.dropdown i:hover {
		color: var(--textWhite);
	}
}

@media (max-width: 576px) {
	header .navbar-brand img {
		width: 170px;
	}
}

@media (max-width: 375px) {
	header .navbar-brand img {
		width: 150px;
	}
	header .navbar-toggler,
	header .offcanvas .offcanvas-header i {
		font-size: 1.5rem;
	}
}
