@media (min-width: 768px) {
	.dropdown:hover > .dropdown-menu {
		display: block;
	}
	.dropdown > .dropdown-toggle:active {
		pointer-events: none;
	}
}

@media (max-width: 1440px) {
	.navbar-brand img {
		width: 200px;
	}
	.partners .partners-wrapper {
		grid-template-columns: repeat(4, auto);
		margin: 0 120px;
	}
}

@media (max-width: 1199px) {
	.container {
		padding: 50px 100px;
	}
	.hero-banner .hero-banner-wrapper .col-md-6:last-child {
		margin-top: 60px;
	}
	.hero-banner .hero-banner-content h1 {
		line-height: 3rem;
		font-size: 3rem;
	}
	.hero-banner .hero-banner-content p {
		margin: 8px 10% 20px 0;
	}
	.hero-banner .hero-banner-content form {
		width: 80%;
		margin-bottom: 30px;
	}
	.partners .partners-wrapper {
		margin: 0 60px;
	}
	.featured-projects .featured-projects-slider {
		height: 305px;
	}
	.featured-projects .featured-projects-slider .swiper-wrapper {
		height: 270px;
	}
	.free-analysis .free-analysis-form {
		margin-left: 20px;
	}
}

@media (max-width: 991px) {
	.container {
		padding: 40px 70px;
	}
	header .container {
		padding: 3px 15px;
	}
	footer .container {
		padding: 35px 15px 15px;
	}
	footer .newsletter .contact-wrapper .contact {
		margin-bottom: 20px;
	}
	.contact h5 {
		font-size: 1.15rem;
	}
	footer .newsletter form {
		flex-direction: column;
		gap: 7px;
	}
	footer .newsletter form .form-control {
		border-radius: 5px;
	}
	footer .newsletter form .btn {
		width: 40%;
		border-radius: 5px;
	}
	footer .footer-content-wrapper {
		margin-top: 50px;
	}
	footer .footer-content-wrapper .col-lg-3 p {
		margin-right: 50%;
	}
	footer .footer-content-wrapper .col-lg-9 {
		margin-top: 20px;
	}
	.hero-banner .hero-banner-display {
		height: 400px;
	}
	.hero-banner .hero-banner-content h1 {
		line-height: 2.5rem;
		font-size: 2.5rem;
	}
	.hero-banner .hero-banner-content form {
		width: 100%;
	}
	.partners .partners-wrapper {
		margin: 0;
	}
	.what-we-do .what-we-do-content {
		margin-bottom: 50px;
	}
	.why-choose-us .why-choose-us-wrapper .col-lg-6:first-child {
		order: 2;
	}
	.why-choose-us .why-choose-us-display,
	.free-analysis .free-analysis-display {
		height: 320px;
		margin-bottom: 40px;
		padding: 40px 0;
	}
	.featured-projects .featured-projects-slider {
		height: 285px;
	}
	.featured-projects .featured-projects-slider .swiper-wrapper {
		height: 250px;
	}
	.free-analysis .free-analysis-form {
		margin-left: 0;
	}
}

@media (max-width: 800px) {
	.container {
		padding: 40px 30px;
	}
	.hero-banner .hero-banner-content p {
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	header .container {
		padding: 5px 10px;
	}
	header .navbar {
		padding: 0;
	}
	header .offcanvas .navbar-nav {
		gap: 0;
	}
	header .offcanvas .navbar-nav .nav-item .nav-link {
		border-radius: 5px;
	}
	header .offcanvas .navbar-nav .nav-item:last-child .nav-link {
		color: inherit;
		background: inherit;
		padding: 7px;
	}
	header .offcanvas .navbar-nav .nav-item .nav-link:hover {
		color: var(--textWhite);
		background: var(--gradient);
		-webkit-text-fill-color: inherit;
	}
	header .offcanvas .navbar-nav .nav-item.dropdown .nav-link:hover ~ i {
		color: var(--textWhite);
		-webkit-text-fill-color: inherit;
	}
	header .offcanvas .navbar-nav .nav-item.dropdown i {
		font-size: 1.4rem;
		background: var(--gradient);
		padding: 7px;
		top: 0;
		right: 0;
		cursor: pointer;
		border-radius: 5px;
	}
	header .offcanvas .navbar-nav .nav-item.dropdown i:hover {
		color: var(--textWhite);
	}
	footer .container {
		padding: 30px 15px 10px;
	}
	footer .newsletter form {
		flex-direction: row;
		gap: 0;
	}
	footer .newsletter form .form-control {
		border-radius: 5px 0 0 5px;
	}
	footer .newsletter form .btn {
		width: inherit;
		border-radius: 0 5px 5px 0;
	}
	.hero-banner .hero-banner-display {
		height: 320px;
	}
	.hero-banner .hero-banner-content h1 {
		line-height: 3.5rem;
		font-size: 3.5rem;
	}
	.hero-banner .hero-banner-content p {
		margin-right: 20%;
	}
	.hero-banner .hero-banner-content form {
		width: 60%;
	}
	.partners img {
		width: 100px;
	}
	.experience .experience-display {
		height: 250px;
		margin-bottom: 40px;
	}
	.why-choose-us .why-choose-us-display,
	.free-analysis .free-analysis-display {
		height: 250px;
		margin-bottom: 30px;
		padding: 20px 0;
	}
}

@media (max-width: 575px) {
	.container {
		padding: 30px 20px;
	}
	header .navbar-brand img {
		width: 170px;
	}
	footer .footer-content-wrapper .col-lg-9 ul {
		margin-left: 10px;
	}
	footer .copyright {
		flex-direction: column;
		gap: 3px;
	}
	.hero-banner .hero-banner-display {
		height: 250px;
	}
	.hero-banner .hero-banner-wrapper .col-md-6:last-child {
		margin-top: 30px;
	}
	.hero-banner .hero-banner-content h1 {
		line-height: 2.5rem;
		font-size: 2.5rem;
	}
	.hero-banner .hero-banner-content p {
		margin-right: 15%;
	}
	.hero-banner .hero-banner-content form {
		width: 90%;
	}
	.partners .partners-wrapper {
		grid-template-columns: repeat(3, auto);
		row-gap: 20px;
	}
	.what-we-do .what-we-do-content {
		margin: 0 0 40px 0 !important;
	}
	.what-we-do .what-we-do-content h6,
	.what-we-do .what-we-do-content p,
	.what-we-do .what-we-do-content .btn,
	.experience .experience-content h6,
	.experience .experience-content p,
	.experience .experience-content .btn,
	.why-choose-us .why-choose-us-content p,
	.featured-projects .featured-projects-title h6,
	.featured-projects
		.featured-projects-slider
		.featured-projects-slider-content
		p,
	.services .services-title h6,
	.services .services-content-wrapper .services-content p,
	.free-analysis .free-analysis-form .free-analysis-form-title p,
	.free-analysis .free-analysis-form form .btn {
		font-size: 0.9rem;
	}
	.what-we-do .what-we-do-content h2,
	.experience .experience-content h2,
	.why-choose-us .why-choose-us-content h2,
	.featured-projects .featured-projects-title h2,
	.services .services-title h2,
	.free-analysis .free-analysis-form .free-analysis-form-title h2 {
		font-size: 1.5rem;
	}
	.experience .experience-display {
		height: 200px;
		margin-bottom: 25px;
	}
	.why-choose-us .why-choose-us-display,
	.free-analysis .free-analysis-display {
		height: 200px;
		margin-bottom: 25px;
		padding: 10px 0;
	}
	.featured-projects .featured-projects-slider {
		margin-top: 15px;
	}
	.featured-projects
		.featured-projects-slider
		.featured-projects-slider-content
		h6 {
		font-size: 1rem;
	}
}

@media (max-width: 375px) {
	.container {
		padding: 25px 15px;
	}
	header .navbar-brand img {
		width: 150px;
	}
	header .navbar-toggler,
	header .offcanvas .offcanvas-header i {
		font-size: 1.5rem;
	}
	footer .newsletter form .btn {
		font-size: 0.9rem;
	}
	footer .footer-content-wrapper .col-lg-9 h4 {
		font-size: 1.25rem;
	}
	footer .footer-content-wrapper .col-lg-9 ul li a {
		font-size: 0.95rem;
	}
	.hero-banner .hero-banner-display {
		height: 220px;
	}
	.hero-banner .hero-banner-wrapper .col-md-6:last-child {
		margin-top: 20px;
	}
	.hero-banner .hero-banner-content h1 {
		line-height: 2rem;
		font-size: 2rem;
	}
	.hero-banner .hero-banner-content p {
		margin-right: 0;
	}
	.hero-banner .hero-banner-content form {
		width: 100%;
	}
	.hero-banner .hero-banner-content form .btn {
		font-size: 0.9rem;
		padding: 8px 15px;
	}
	.partners .partners-wrapper {
		height: 90px;
		row-gap: 10px;
	}
	.partners img {
		width: 80px;
		height: 40px;
	}
	.what-we-do .what-we-do-content h2,
	.experience .experience-content h2,
	.featured-projects .featured-projects-title h2,
	.services .services-title h2,
	.free-analysis .free-analysis-form .free-analysis-form-title h2 {
		font-size: 1.25rem;
	}
	.services .services-content img {
		width: 58px;
	}
	.services .services-content h4 {
		font-size: 1.15rem;
	}
	.experience .experience-display {
		height: 170px;
		margin-bottom: 15px;
	}
	.why-choose-us .why-choose-us-display,
	.free-analysis .free-analysis-display {
		height: 170px;
		margin-bottom: 15px;
	}
	.featured-projects .featured-projects-slider {
		height: 255px;
	}
	.featured-projects .featured-projects-slider .swiper-wrapper {
		height: 220px;
	}
}
