@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	/** Fonts **/
	--heading: "Montserrat", serif;
	--body: "DM Sans", serif;
	/** Colors **/
	--primary: #f39b50;
	--secondary: #f9486f;
	--text: #3c2853;
	--textBlack: #000;
	--textWhite: #fff;
	--gradient: linear-gradient(
		135deg,
		var(--secondary) 0%,
		var(--primary) 100%
	);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3 {
	font-family: var(--heading);
	margin-bottom: 0;
}
h4,
h5,
h6 {
	font-family: var(--body);
	margin-bottom: 0;
}
P {
	margin-bottom: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
}
body {
	font-family: var(--body);
	font-size: 15px;
	color: var(--text);
}
.container {
	max-width: 1800px;
	padding: 50px 150px;
}
.mht-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/** Header **/
header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
header.fixed-top {
	background: var(--textWhite);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	animation: 1.2s ease-in-out 0s normal none 1 running headerdown;
}
@keyframes headerdown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
header.fixed-top .navbar {
	padding: 0;
}
header .container {
	padding: 3px 25px;
}
.navbar-brand img {
	width: 240px;
}
header .navbar-collapse {
	align-items: normal;
}
header .navbar-toggler {
	font-size: 1.7rem;
	color: var(--text);
	border: none;
}
header .navbar-toggler:focus {
	box-shadow: none;
}
header .offcanvas .navbar-nav {
	gap: 13px;
}
header .offcanvas .navbar-nav .nav-item .nav-link {
	font-weight: 600;
	color: var(--text);
	padding: 7px;
}
header .offcanvas .navbar-nav .nav-item .nav-link:hover,
header .offcanvas .navbar-nav .nav-item .nav-link:hover ~ i {
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header .offcanvas .navbar-nav .nav-item:last-child .nav-link,
.what-we-do .what-we-do-content .btn,
.free-analysis .free-analysis-form form .btn {
	color: var(--textWhite);
	background: var(--gradient);
	padding: 7px 20px;
	border-radius: 5px;
}
header .offcanvas .navbar-nav .nav-item:last-child .nav-link:hover,
.what-we-do .what-we-do-content .btn:hover,
.free-analysis .free-analysis-form form .btn:hover {
	-webkit-text-fill-color: inherit;
	background: linear-gradient(
		135deg,
		var(--primary) 0%,
		var(--secondary) 100%
	);
}
header .offcanvas .navbar-nav .nav-item.dropdown i {
	position: absolute;
	top: 11px;
	right: -8px;
}
header .offcanvas .navbar-nav .nav-item.dropdown i:hover {
	color: var(--primary);
}
header .offcanvas .navbar-nav .nav-item .dropdown-menu {
	padding: 0;
	border: 0;
	border-radius: 5px;
}
header .offcanvas .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	font-weight: 600;
	color: var(--text);
	padding: 7px 20px;
	border-radius: 5px;
}
header .offcanvas .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	color: var(--textWhite);
	background: var(--gradient);
}
header .offcanvas .offcanvas-header h5 {
	font-family: var(--heading);
	font-size: 1.1rem;
	font-weight: 700;
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header .offcanvas .offcanvas-header i {
	font-size: 1.7rem;
	cursor: pointer;
}

/** Footer **/
footer {
	background: rgba(60, 40, 83, 0.05);
}
footer .container {
	padding: 35px 25px 15px;
}
.contact img {
	width: 48px;
	aspect-ratio: 1/1;
	margin-right: 15px;
}
.contact h5,
.work-process .work-process-content h5 {
	font-weight: 600;
	color: var(--text);
}
.contact p {
	font-weight: 500;
	color: var(--text);
	opacity: 0.75;
}
footer .newsletter form {
	display: flex;
}
footer .newsletter form .form-control {
	border: 1px solid rgba(60, 40, 83, 0.5);
	border-radius: 5px 0 0 5px;
}
footer .newsletter form .form-control:focus {
	border: 1px solid var(--text);
	box-shadow: none;
}
footer .newsletter form .btn {
	font-family: var(--heading);
	font-weight: 700;
	color: var(--textWhite);
	background: var(--text);
	border-radius: 0 5px 5px 0;
	top: 0;
	right: 0;
}
footer .footer-content-wrapper {
	margin-top: 70px;
}
footer .footer-content-wrapper .col-lg-3 p {
	font-size: 0.9rem;
	font-weight: 500;
	margin: 10px 20px 20px 10px;
	opacity: 0.75;
}
footer .footer-content-wrapper .col-lg-3 .footer-social img {
	width: 24px;
	aspect-ratio: 1/1;
	margin-left: 10px;
	object-fit: contain;
	transition: 0.2s all;
}
footer .footer-content-wrapper .col-lg-3 .footer-social img:hover {
	transform: scale(1.2);
}
footer .footer-content-wrapper .col-lg-9 h4 {
	font-family: var(--heading);
	font-weight: 600;
	margin: 12px 0 15px;
}
footer .footer-content-wrapper .col-lg-9 ul li a {
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
	color: var(--text);
	margin-bottom: 5px;
	opacity: 0.75;
	transition: 0.2s all;
}
footer .footer-content-wrapper .col-lg-9 ul li a:hover {
	color: var(--primary);
	padding-left: 10px;
}
footer .copyright {
	border-top: 1px solid rgba(60, 40, 83, 0.5);
}
footer .copyright .container {
	padding: 15px;
}
footer .copyright p {
	font-size: 0.9rem;
	font-weight: 600;
}
footer .copyright p a {
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Hero Banner */
.hero-banner .container {
	padding-top: 40px;
}
.hero-banner .hero-banner-display,
.about-us .about-us-display {
	height: 100%;
}
.hero-banner .hero-banner-wrapper .col-md-6:last-child {
	background: rgba(255, 255, 255, 0.8) url(../images/hero-banner-bg.png)
		no-repeat center/contain;
	background-blend-mode: lighten;
	margin-top: 80px;
}
.hero-banner .hero-banner-content h1,
.about-us .about-us-content h1 {
	display: inline-block;
	line-height: 4rem;
	font-size: 4rem;
	font-weight: 700;
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hero-banner .hero-banner-content p,
.about-us .about-us-content p {
	font-weight: 500;
	color: var(--text);
	opacity: 0.75;
	margin: 10px 20% 25px 0;
}
.hero-banner .hero-banner-content form {
	position: relative;
	display: flex;
	width: 70%;
	margin-bottom: 35px;
	border-radius: 5px;
	box-shadow: rgba(60, 40, 83, 0.2) 1px 2px 8px;
}
.hero-banner .hero-banner-content form .form-control {
	padding: 12px;
	border: none;
}
.hero-banner .hero-banner-content form .form-control:focus {
	box-shadow: 0 0 0 0.25rem rgba(60, 40, 83, 0.25);
}
.hero-banner .hero-banner-content form .btn {
	position: absolute;
	font-family: var(--heading);
	font-weight: 700;
	color: var(--textWhite);
	background: var(--text);
	padding: 7px 18px;
	border-radius: 5px;
	top: 4px;
	right: 4px;
}

/* Featured Partners */
.featured-partners .container {
	padding-top: 0;
}
.featured-partners .featured-partners-wrapper {
	overflow: hidden;
	display: grid;
	height: 130px;
	grid-template-columns: repeat(5, auto);
	place-items: center;
	row-gap: 30px;
	margin: 0 180px;
}
.featured-partners img {
	width: 130px;
	height: 50px;
	object-fit: contain;
	filter: grayscale(100%) brightness(0.8) opacity(0.7);
	cursor: pointer;
}

/* What We Do */
.what-we-do .what-we-do-content h6,
.experience .experience-content h6,
.featured-projects .featured-projects-title h6,
.services .services-title h6,
.featured-testimonials .featured-testimonials-title h6,
.blog .blog-title h6,
.work-process .work-process-title h6,
.partners .partners-title h6 {
	font-weight: 500;
	color: var(--primary);
}
.what-we-do .what-we-do-content h2,
.experience .experience-content h2,
.featured-projects .featured-projects-title h2,
.services .services-title h2,
.featured-testimonials .featured-testimonials-title h2,
.free-analysis .free-analysis-form .free-analysis-form-title h2,
.blog .blog-title h2,
.work-process .work-process-title h2,
.partners .partners-title h2 {
	font-weight: 700;
}
.what-we-do .what-we-do-content p,
.experience .experience-content p,
.featured-testimonials .featured-testimonials-title p,
.free-analysis .free-analysis-form .free-analysis-form-title p {
	text-align: justify;
	font-weight: 500;
	margin: 15px 0 30px;
	opacity: 0.75;
}
.what-we-do .what-we-do-content .btn,
.experience .experience-content .btn,
.free-analysis .free-analysis-form form .btn,
.about-us .about-us-content .btn {
	font-weight: 700;
	padding: 8px 24px;
	transition: 0.3s all;
}
.services .col-sm-6,
.why-choose-us .col-sm-6 {
	margin-bottom: 24px;
}
.services .services-content,
.why-choose-us .why-choose-us-content {
	height: 100%;
	padding: 30px;
	border-radius: 10px;
	box-shadow: rgba(60, 40, 83, 0.35) 0px 5px 15px;
}
.services .services-content img {
	width: 64px;
	aspect-ratio: 1/1;
	margin-bottom: 15px;
}
.services .services-content h4 {
	font-size: 1.35rem;
	font-weight: 700;
	color: var(--text);
}

/* Experience */
.experience .experience-content .progress-bar-container label {
	font-family: var(--heading);
	font-weight: 500;
}
.experience .experience-content .progress-bar {
	overflow: inherit;
	position: relative;
	width: 100%;
	height: 15px;
	background: #e0e0e0;
	margin-bottom: 15px;
	border-radius: 5px;
}
.experience .experience-content .progress {
	position: relative;
	width: 0;
	height: 100%;
	background: linear-gradient(
		135deg,
		var(--primary) 0%,
		var(--secondary) 100%
	);
	border-radius: 5px;
}
.experience .experience-content .percentage {
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	color: var(--text);
	top: -21px;
	right: 5px;
	transition: 0.3s all;
}
.experience .experience-content .btn,
.about-us .about-us-content .btn {
	color: var(--textWhite);
	background: var(--text);
	margin-top: 15px;
}

/* Why Choose Us */
.why-choose-us .why-choose-us-content h2 {
	display: inline-block;
	font-weight: 700;
	background: var(--gradient);
	margin-bottom: 7px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.why-choose-us .why-choose-us-content p,
.projects .projects-content-wrapper .project-content p,
.services .services-content-wrapper .services-content p,
.testimonials .testimonials-content p,
.blog .blog-content .blog-content-title p,
.work-process .work-process-content p {
	font-weight: 500;
	opacity: 0.75;
}

/* Featured Projects */
.featured-projects .container,
.featured-blog .container,
.partners .container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.featured-projects .projects-content-wrapper,
.featured-blog .blog-content-wrapper {
	height: 335px;
	margin-top: 25px;
}
.featured-projects .projects-content-wrapper .swiper-wrapper,
.featured-blog .blog-content-wrapper .swiper-wrapper {
	height: calc(100% - 35px);
}
.projects .projects-content-wrapper .project-content-display,
.blog .blog-content-wrapper .blog-content-display {
	position: relative;
	border-radius: 10px;
}
.projects .projects-content-wrapper .project-content-display::before,
.blog .blog-content-wrapper .blog-content-display::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to top,
		rgb(15, 25, 26, 0.8),
		rgb(15, 25, 26, 0.6),
		rgb(15, 25, 26, 0),
		rgb(15, 25, 26, 0),
		rgb(15, 25, 26, 0)
	);
	border-radius: 10px;
	top: 0;
	left: 0;
	z-index: 1;
}
.projects .projects-content-wrapper .project-content-display img,
.blog .blog-content-wrapper .blog-content-display img {
	border-radius: 10px;
	object-fit: cover !important;
}
.featured-projects .projects-content-wrapper .project-content,
.blog .blog-content-wrapper .blog-content {
	position: absolute;
	color: var(--textWhite);
	padding: 30px;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.featured-projects .projects-content-wrapper .project-content h6,
.testimonials .testimonials-content h6,
.blog .blog-content-wrapper .blog-content h6 {
	font-size: 1.1rem;
}
.swiper-pagination-bullet-active-main {
	background: var(--text);
}

/* Services */
.services .services-content-wrapper,
.partners .partners-content {
	margin-top: 25px;
}
.services .services-content-wrapper .services-content-title img {
	margin: 0 10px 0 0;
}
.services .services-content-wrapper .services-content p {
	color: var(--text);
	margin-top: 15px;
}

/* Featured Testimonials */
.featured-testimonials .container {
	padding-bottom: 80px;
}
.featured-testimonials .featured-testimonials-wrapper .col-lg-5 {
	background: rgba(255, 255, 255, 0.8) url(../images/testimonial-bg.png)
		no-repeat center center / 200px;
	background-blend-mode: lighten;
}
.featured-testimonials .featured-testimonials-title p {
	margin-right: 10%;
}
.testimonials .testimonials-content .testimonials-content-wrapper {
	position: relative;
	background: url(../images/quote.png) no-repeat left 30px top 35px / 50px;
	padding: 35px 35px 35px 90px;
	border-radius: 10px 10px 10px 0;
	box-shadow: rgba(60, 40, 83, 0.15) -5px 8px 50px;
}
.testimonials .testimonials-content .client-review {
	overflow-y: scroll;
	height: 150px;
	padding-right: 20px;
}
.testimonials .testimonials-content .client-review::-webkit-scrollbar {
	width: 5px;
}
.testimonials .testimonials-content .client-review::-webkit-scrollbar-track {
	background: transparent;
}
.testimonials .testimonials-content .client-review::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 5px;
}
.featured-testimonials
	.testimonials-content
	.testimonials-content-wrapper::before {
	content: "";
	position: absolute;
	width: 70px;
	height: 50px;
	background: var(--textWhite);
	clip-path: path("M 70,0 A 10,10 0,0,0 0,50 Z");
	filter: drop-shadow(3px 7px 5px rgba(60, 40, 83, 0.2));
	bottom: -30px;
	left: 0;
}
.featured-testimonials .carousel button {
	width: fit-content;
	color: var(--text);
	background: rgba(60, 40, 83, 0.15);
	padding: 8px 11px;
	border-radius: 50%;
	opacity: inherit;
	top: inherit;
	bottom: -40px;
}
.featured-testimonials .carousel .carousel-control-prev {
	left: inherit;
	right: 65px;
}
.featured-testimonials .carousel .carousel-control-next {
	right: 20px;
}
.featured-testimonials .testimonials-content img {
	width: 70px;
	aspect-ratio: 1/1;
	object-fit: cover;
	padding: 3px;
	border: 3px dashed var(--primary);
	border-radius: 50%;
}

/* Free Analysis */
.free-analysis .free-analysis-display {
	background: rgba(255, 255, 255, 0.7) url(../images/anlysis-bg.png) no-repeat
		center / cover;
	background-blend-mode: lighten;
	padding: 50px 0;
}
.free-analysis .free-analysis-form {
	margin-left: 40px;
}
.free-analysis .free-analysis-form form .col-sm-6 {
	margin-bottom: 15px;
}
.free-analysis .free-analysis-form form .form-control {
	border: 0.1em solid rgba(0, 0, 0, 0.4);
}
.free-analysis .free-analysis-form form .form-control:hover {
	border: 0.1em solid var(--primary);
}
.free-analysis .free-analysis-form form .form-control:focus {
	border: 0.1em solid var(--primary);
	box-shadow: 0 0 0 0.25rem rgba(243, 155, 80, 0.25);
}
.free-analysis
	.free-analysis-form
	form
	input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.free-analysis .free-analysis-form form .btn {
	width: 40%;
	margin-top: 15px;
}

/* Featured Blog */
.blog .blog-content-wrapper .blog-content-display::before {
	background: linear-gradient(
		to top,
		rgb(15, 25, 26, 0.8),
		rgb(15, 25, 26, 0.6),
		rgb(15, 25, 26, 0),
		rgb(15, 25, 26, 0),
		rgb(15, 25, 26, 0),
		rgb(15, 25, 26, 0.5),
		rgb(15, 25, 26, 0.6),
		rgb(15, 25, 26, 0.8)
	);
}
.blog .blog-content-wrapper .blog-content {
	top: 0;
	right: 0;
}
.blog .blog-content-wrapper .blog-content h6 {
	margin-top: 7px;
}
.blog .blog-content-wrapper .blog-content a {
	color: var(--textWhite);
}
.blog .blog-content-wrapper .blog-content .btn {
	font-size: 1.15rem;
	color: var(--textWhite);
	padding: 0 5px;
}
.blog .modal .modal-header h4 {
	font-family: var(--heading);
	font-weight: 700;
	color: var(--textBlack);
}
.blog .modal .modal-content {
	border-radius: 15px;
	padding: 25px;
}
.blog .modal .modal-header .btn {
	color: #878787;
	padding: 4px 10px 3px;
	background: #f3f3f3;
	border-radius: 50%;
}
.blog .modal .modal-header .btn:hover {
	background: rgba(60, 40, 83, 0.15);
}
.blog .modal .modal-body p {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--textBlack);
	margin-bottom: 10px;
}
.blog .modal .modal-body .blog-modal-share a {
	display: inline-grid;
	width: 48px;
	height: 48px;
	margin: 0 7px 15px;
	border: 1px solid;
	border-radius: 50%;
	place-items: center;
}
.blog .modal .modal-body .blog-modal-share a:hover {
	border: none;
}
.blog .modal .modal-body .blog-modal-share a i {
	font-size: 1.25rem;
	transition: 0.3s all;
}
.blog .modal .modal-body .blog-modal-share a:hover i {
	transform: scale(1.15);
	color: var(--textWhite) !important;
}
.blog .modal .modal-body .blog-modal-share a:nth-child(1) {
	border-color: rgba(24, 119, 242, 0.5);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(2) {
	border-color: rgba(20, 23, 26, 0.5);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(3) {
	border-color: rgba(228, 64, 95, 0.5);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(4) {
	border-color: rgba(37, 211, 102, 0.5);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(5) {
	border-color: rgba(36, 161, 222, 0.5);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(6) {
	border-color: rgba(10, 102, 194, 0.5);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(7) {
	border-color: rgba(255, 87, 0, 0.5);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(1):hover {
	background: linear-gradient(
		180deg,
		rgba(86, 155, 245, 1) 0%,
		rgba(24, 119, 242, 1) 50%
	);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(2):hover {
	background: rgb(20, 23, 26);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(3):hover {
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(4):hover {
	background: linear-gradient(
		180deg,
		rgba(82, 224, 134, 1) 0%,
		rgba(37, 211, 102, 1) 50%
	);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(5):hover {
	background: linear-gradient(
		180deg,
		rgba(100, 188, 232, 1) 0%,
		rgba(36, 161, 222, 1) 50%
	);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(6):hover {
	background: rgb(10, 102, 194);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(7):hover {
	background: rgb(255, 87, 0);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(1) i {
	color: rgb(24, 119, 242);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(2) i {
	color: rgb(20, 23, 26);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(3) i {
	color: rgb(228, 64, 95);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(4) i {
	color: rgb(37, 211, 102);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(5) i {
	color: rgb(36, 161, 222);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(6) i {
	color: rgb(10, 102, 194);
}
.blog .modal .modal-body .blog-modal-share a:nth-child(7) i {
	color: rgb(255, 87, 0);
}
.blog .modal .modal-body .blog-modal-copy-link .form-control {
	padding: 10px 0 10px 40px;
}
.blog .modal .modal-body .blog-modal-copy-link .form-control:focus {
	border-color: #dee2f1;
	box-shadow: none;
}
.blog .modal .modal-body .blog-modal-copy-link i {
	font-size: 1.25rem;
	top: 13px;
	left: 8px;
}
.blog .modal .modal-body .blog-modal-copy-link .btn {
	font-weight: 700;
	color: var(--textWhite);
	background: var(--text);
	padding: 6px 15px;
	top: 4px;
	right: 4px;
}

/* About Us */
.about-us .about-us-content p {
	margin: 10px 0 25px;
}

/* Work Process */
.work-process .work-process-content-wrapper {
	margin-top: 50px;
	counter-reset: wprocess;
}
.work-process .work-process-content {
	position: relative;
	margin-bottom: 50px;
}
.work-process .work-process-content::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: linear-gradient(
		135deg,
		var(--primary) 0%,
		var(--secondary) 100%
	);
	left: 50%;
	z-index: 1;
}
.work-process
	.work-process-content-wrapper
	.col-md-3:nth-child(odd)
	.work-process-content::before {
	top: 75px;
	transform: rotate(14.5deg);
}
.work-process
	.work-process-content-wrapper
	.col-md-3:nth-child(even)
	.work-process-content::before {
	bottom: 73px;
	transform: rotate(-15.5deg);
}
.work-process
	.work-process-content-wrapper
	.col-md-3:nth-child(4n + 4)
	.work-process-content::before,
.work-process
	.work-process-content-wrapper
	.col-md-3:last-child
	.work-process-content::before {
	display: none;
}
.work-process .work-process-content .work-process-icon {
	position: relative;
	display: inline-grid;
	width: 75px;
	height: 75px;
	background: var(--textWhite);
	border-radius: 50%;
	box-shadow: rgba(60, 40, 83, 0.35) 0px 5px 15px;
	place-items: center;
	z-index: 2;
}
.work-process .work-process-content .work-process-icon::before {
	content: counter(wprocess);
	counter-increment: wprocess;
	position: absolute;
	display: inline-grid;
	width: 28px;
	height: 28px;
	font-weight: 700;
	color: var(--textWhite);
	background: var(--text);
	border-radius: 50%;
	place-items: center;
	top: -5px;
	left: -5px;
}
.work-process
	.work-process-content-wrapper
	.col-md-3:nth-child(odd)
	.work-process-icon {
	margin-bottom: 15px;
}
.work-process
	.work-process-content-wrapper
	.col-md-3:nth-child(even)
	.work-process-icon {
	order: 2;
	margin-top: 15px;
}
.work-process .work-process-content .work-process-icon img {
	width: 48px;
	aspect-ratio: 1/1;
}
.work-process .work-process-content p,
.work-process .work-process-content h5 {
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.work-process .work-process-content h5 {
	height: 24px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
}

/* Partners */
.partners .partners-content img {
	width: 150px;
	height: 70px;
	text-align: center;
	object-fit: contain;
}
.partners .swiper-slide {
	text-align: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 1.5rem;
	font-weight: 900;
	color: var(--text);
}
