@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	/** Fonts **/
	--heading: "Montserrat", serif;
	--body: "DM Sans", serif;
	/** Colors **/
	--primary: #f39b50;
	--secondary: #f9486f;
	--text: #3c2853;
	--textBlack: #000;
	--textWhite: #fff;
	--gradient: linear-gradient(
		135deg,
		var(--secondary) 0%,
		var(--primary) 100%
	);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3 {
	font-family: var(--heading);
	margin-bottom: 0;
}
h4,
h5,
h6 {
	font-family: var(--body);
	margin-bottom: 0;
}
P {
	margin-bottom: 0;
}
a {
	text-decoration: none;
}
body {
	font-family: var(--body);
	font-size: 15px;
	color: var(--text);
}
.container {
	max-width: 1800px;
	padding: 50px 150px;
}
.mht-img {
	width: 100%;
	height: 100%;
}

/** Header **/
header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
header.fixed-top {
	background: var(--textWhite);
	animation: 1.2s ease-in-out 0s normal none 1 running headerdown;
}
@keyframes headerdown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
header.fixed-top .navbar {
	padding: 0;
}
header .container {
	padding: 3px 25px;
}
header .navbar-brand img {
	width: 240px;
}
header .navbar-collapse {
	align-items: normal;
}
header .navbar-toggler {
	font-size: 1.7rem;
	color: var(--text);
	border: none;
}
header .navbar-toggler:focus {
	box-shadow: none;
}
header .offcanvas .navbar-nav {
	gap: 13px;
}
header .offcanvas .navbar-nav .nav-item .nav-link {
	font-weight: 600;
	color: var(--text);
	padding: 7px;
}
header .offcanvas .navbar-nav .nav-item .nav-link:hover,
header .offcanvas .navbar-nav .nav-item .nav-link:hover ~ i {
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header .offcanvas .navbar-nav .nav-item:last-child .nav-link {
	color: var(--textWhite);
	background: var(--gradient);
	padding: 7px 20px;
	border-radius: 5px;
}
header .offcanvas .navbar-nav .nav-item:last-child .nav-link:hover {
	-webkit-text-fill-color: inherit;
	background: linear-gradient(
		135deg,
		var(--primary) 0%,
		var(--secondary) 100%
	);
}
header .offcanvas .navbar-nav .nav-item.dropdown i {
	position: absolute;
	top: 11px;
	right: -8px;
}
header .offcanvas .navbar-nav .nav-item.dropdown i:hover {
	color: var(--primary);
}
header .offcanvas .navbar-nav .nav-item .dropdown-menu {
	padding: 0;
	border: 0;
	border-radius: 5px;
}
header .offcanvas .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	font-weight: 600;
	color: var(--text);
	padding: 7px 20px;
	border-radius: 5px;
}
header .offcanvas .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	color: var(--textWhite);
	background: var(--gradient);
}
header .offcanvas .offcanvas-header h5 {
	font-family: var(--heading);
	font-size: 1.1rem;
	font-weight: 700;
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header .offcanvas .offcanvas-header i {
	font-size: 1.7rem;
	cursor: pointer;
}

/** Home **/

/* Hero Banner */
.hero-banner .container {
	padding-top: 40px;
}
.hero-banner .hero-banner-display {
	height: 100%;
}
.hero-banner .hero-banner-wrapper .col-md-6:last-child {
	background: rgba(255, 255, 255, 0.8) url(../images/hero-banner-bg.png)
		no-repeat left/contain;
	background-blend-mode: lighten;
	margin-top: 80px;
}
.hero-banner .hero-banner-content h1 {
	line-height: 4rem;
	font-size: 4rem;
	font-weight: 700;
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hero-banner .hero-banner-content p {
	font-weight: 500;
	color: var(--text);
	opacity: 0.75;
	margin: 10px 20% 25px 0;
}
.hero-banner .hero-banner-content form {
	width: 70%;
	margin-bottom: 35px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 8px;
}
.hero-banner .hero-banner-content form .form-control {
	padding: 12px;
	border: none;
}
.hero-banner .hero-banner-content form .form-control:focus {
	box-shadow: 0 0 0 0.25rem rgba(243, 155, 80, 0.25);
}
.hero-banner .hero-banner-content form .btn {
	position: absolute;
	font-family: var(--heading);
	font-weight: 700;
	color: var(--textWhite);
	background: var(--text);
	padding: 7px 18px;
	border-radius: 5px;
	top: 4px;
	right: 4px;
}
.hero-banner .hero-banner-content .banner-contact img {
	width: 48px;
	aspect-ratio: 1/1;
	margin-right: 15px;
}
.hero-banner .hero-banner-content .banner-contact h5 {
	font-weight: 600;
	color: var(--text);
}
